<ion-view view-title="List of spells">
  <ion-content class="dash">
    
    <div class="card">
  		<div class="item item-divider">
    		<h1>Avada Kedvra </h1>
  		</div>
  		<div class="item item-text-wrap">
    		To cast this spell you must say "Avada Kedvra" and tilt the phone to the right.
  		</div>
	</div>
  	<div class="card">
  		<div class="item item-divider">
   		 	<h1>Lumos </h1>
  		</div>
  		<div class="item item-text-wrap">
    		To cast this spell you must say "Lumos" and tilt the phone to the down.
  		</div>
	</div>
  	<div class="card">
  		<div class="item item-divider">
    		<h1>Wingardian Leviosa</h1>
  		</div>
  		<div class="item item-text-wrap">
    		To cast this spell you must say "Wingardian Leviosa" and tilt the phone to the left.
  		</div>
	</div>
  
  </ion-content>
</ion-view>
